main {
    min-width: 100%;
    min-height: 80vh;
}

h2 {
    padding-bottom: 2rem;
}

#container {
    position: relative;
    padding: 5rem;
    overflow-x: auto;
}

table {
    border-radius: 12px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, 0.8);
}

thead {
    border-bottom: 1px solid black;
    font-weight: 700;
}

td, th {
    padding: 6px 0;
    text-align: center;
    border-bottom: 1px solid grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--text);
}

.trash {
    height: 30px;
    opacity: 60%;
}

.trash:hover {
    opacity: 1;
}

.quantita{
    width: 80%;
}

.thumbnail {
    height: 25rem;
}

/* TOTALE */

#bottom {
    margin: 2rem;
    min-height: 10vh;
    display: flex;
    justify-content: end;
}

#cassa {
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: var(--text);
    min-width: 50rem;
    margin: 0rem 2rem 5rem 3rem;
    box-shadow: 0.5em 1em 0.3em rgba(1, 2, 68, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    align-self: end;
    justify-self: end;
}



.totale {
    display: flex;
    justify-content: space-between;
}

.totProd{
    font-size: var(--text);
}

#summary{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1001;
    min-width: 80%;
    min-height: 80vh;
    background: white;
    border: var(--hover-color) solid;
    border-radius: 2rem;
    display: flex;
    visibility: hidden; /* Impostato inizialmente come nascosto */
}

#dark-gradient {
    background: linear-gradient(to bottom, #000000, #333333);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 1000;
    visibility: hidden; /* Impostato inizialmente come nascosto */
}


#summary header{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

#summary header h3{
   flex: 2 1 30rem;
    color: var(--special-color);
    margin: 0rem 1rem;
}

#summary header h4{
    flex: 1 1 30rem;
    text-align: end;
    margin: 0rem 1rem;
}

#summary-userdata{
    flex: 4 1 30rem;
    padding: 2rem;
    margin: 1rem;
}

#summary-userdata-address{
    min-height: 40vh;
    padding: 1rem;
    margin: 1rem;
}

.summary-userdata-address-row{
    display: flex;
    padding: 1rem;
    margin: 1rem 0rem;
    align-items: center;
}

.summary-userdata-address-row p{
    flex: 1 1 30rem;
}

.summary-userdata-address-row h4{
    flex: 1 1 30rem;
}

#card-form-wrapper{
    min-height: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#erro-section{
    min-height: 8vh;
    padding: 1rem;
    width: 90%;
    margin: auto;
}

#card-number-error{
    font-size: 12px;
    color: red;
}
#cvv-number-error{
    font-size: 12px;
    color: red;
}
#expiry-date-error{
    font-size: 12px;
    color: red;
}
#card-form-wrapper form{
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(30rem, 1fr)
    );
    justify-content: center;
    grid-gap: 2rem;
}

#card-form-wrapper form input{
    padding: 2rem;
    margin: 1rem;
}

#summary-orderdata{
    flex: 2 1 30rem;
    background: #c83c54;
    color: white;
    padding: 4rem;
    min-width: 30vw;
}

#summary-orderdata header{
    display: flex;
}

#summary-orderdata header h5{
    flex: 3 1 30rem
}

.search__close{
    font-size: 3rem;
    flex: 1 1 30rem;
    text-align: end;
    cursor: pointer;
}

#summary-product{
    min-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#product-row{
    display: flex;
    align-items: center;
    margin: 1rem;
}

#img-product {
    flex: 1 1 20rem;
    background: wheat;
    text-align: center;
}

#img-product img{
    width: 50%; /* Assicura che l'immagine occupi l'intera larghezza del contenitore */
    height: auto; /* Assicura che l'immagine occupi l'intera altezza del contenitore */
    object-fit: cover; /* Scala l'immagine per coprire completamente il contenitore */
    border-radius: 1rem;
}

#info-product{
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2 1 20rem;
    text-align: center;
}

#final-price{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2rem;
    margin: 1rem;
}
#final-price div{
    flex: 2 1 30rem;
}


#summary-orderdata footer{
    min-height: 10vh;
    padding: 1rem;

}
#summary-orderdata button{
    width: 100%;
    background: var(--special-color);
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
    color: white;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

#summary-orderdata button:hover{
    background: var(--hover-color);
}



@media (min-width: 768px) and (max-width: 1024px) {

    html {
        font-size: 45%;
    }

    table {
        font-size: 1.4rem;
    }

    td {
        white-space: normal;
        height: auto;
        max-height: none;
    }

    .thumbnail {
        max-height: 25rem;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    html {
        font-size: 45%;
    }

    table {
        font-size: 1.4rem;
    }

    td {
        white-space: normal;
        height: auto;
        max-height: none;
    }

    .thumbnail {
        max-height: 25rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    html {
        font-size: 45%;
    }

    table {
        font-size: 1.4rem;
    }

    td {
        white-space: normal;
        height: auto;
        max-height: none;
    }

    .thumbnail {
        max-height: 15rem;
    }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {
    html {
        font-size: 45%;
    }

    table {
        font-size: 1.2rem;
    }

    td {
        white-space: normal;
        height: auto;
        max-height: none;
    }

    .thumbnail {
        max-height: 10rem;
    }

}