#address-info {
    min-height: 85vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper{
    margin-top: 2rem;
    background: rgba(255,255,255, 0.9);
    border-radius : 4rem;
    display:flex;
    flex-direction:column;
    padding: 2rem;
    min-width: 50%;
    justify-content : center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0.5em 0.3em 1em rgba(1, 2, 68, 0.1);
}

.form-wrapper h2{
    text-align: center;
    padding:2rem 0rem;
}

.form-wrapper label{
    flex: 1 1 40rem;
    margin : 0rem 1rem;

}

.form-wrapper input{
    flex: 1 1 40rem;
    padding: 0.5rem 4rem;
}

.form-row select{
    flex: 1 1 40rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem 4rem;
    border: none;
}
.sub-class{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-wrapper button{
    align-self : center;
    border: none;
    font-size: 2rem;
    width: 70%;
    padding : 1rem;
    border-radius: 2rem;
    background-color: #ff6f88;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.form-wrapper button:hover{
    background:#c83c54;

}

.form-row{
    display: flex;
    align-items: center;
    padding: 3rem;
}

@media (min-width: 481px) and (max-width: 767px) {


    html {
        font-size: 45%;
    }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {

    html {
        font-size: 45%;
    }


}