main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#reset-pass{
    margin-top:2rem;
    min-width: 40vw;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0.5em 0.3em 1em rgba(1, 2, 68, 0.1);
    border-radius: 12px;
    padding: 3rem;
}

#reset-img{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}


#reset-img img{
    max-width: 100%;
    margin: 0 3rem;
    margin-top: 5rem;
    border-radius: 12px;
    height: 30rem;

}

.reset-form{
    text-align: center;
    width: 70%;
    margin-bottom: 5rem;
}


.reset-form button{
    border: none;
    font-size: 1.8rem;
    width: 60%;
    color: white;
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
    cursor: pointer;
    background-color: var(--special-color);
    transition: background 0.5s ease-in-out;
}

.reset-form button:hover{
    background: var(--hover-color);

}
.form-row{
    display: flex;
    align-items: center;
    padding: 3rem;
}

.form-row label{
    flex: 1 1 40rem;
    margin : 0rem 1rem;

}

.form-row input{
    flex: 1 1 40rem;
    padding: 0.5rem 4rem;
    max-width: 50%;
}

.password-row {
    flex: 1 1 40rem;
    display: flex;
    align-items: center; /* Aggiunto per centrare verticalmente */
    justify-content: center;
}

.password-row input {
    flex: 1; /* Utilizza lo spazio rimanente */
    padding: 0.5rem 4rem; /* Stesse dimensioni degli altri input */
    max-width: 50%;
}

.password-row img {
    width: 25px;
    margin-left: -35px; /* Sposta l'icona all'interno dell'input */
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {

    html {
        font-size: 45%;
    }

    #reset-pass {
        min-width : 30vw;
        padding: 2rem;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    html {
        font-size: 45%;
    }

    #reset-pass {
        min-width : 30vw;
        padding: 2rem;
    }


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


    html {
        font-size: 45%;
    }

    #reset-pass{
        min-width : 30vw;
        padding: 2rem;
    }



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {

    html {
        font-size: 45%;
    }

    #reset-pass {
        min-width : 50vw;
        padding: 4rem;
    }




}