
main{
    display: flex;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
}

#signup {
    margin-top:2rem;
    min-height: 90vh;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0.5em 0.3em 1em rgba(1, 2, 68, 0.1);
    border-radius: 12px;
    padding: 3rem;
}

#signup-img {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

#signup-img img {
    max-width: 100%;
    margin: 0 3rem;
    margin-top: 5rem;
    border-radius: 12px;
    height: 30rem;
}

.signup-form {
    text-align: center;
    width: 70%;
    margin-bottom: 5rem;
}

.signup-form button {
    border: none;
    font-size: var(--text);
    width: 50%;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: var(--special-color);
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.signup-form button:hover {
    background: var(--hover-color);
}

.form-row {
    display: flex;
    padding: 3rem;
    text-align: start;
    flex-wrap: wrap;
}

.form-row label {
    margin: 0rem 3rem;
    flex: 1 1 20rem;
}

.form-row input {
    padding: 0.5rem 3rem;
    flex: 1 1 20rem;
}

.form-row select{
    padding: 0.5rem 3rem;
    flex: 1 1 20rem;
}
